node_modules/
dist/
output/
target/
src-tauri/target/
src-tauri/gen/android/.gradle/
src-tauri/gen/android/build/
src-tauri/gen/android/app/build/
src-tauri/gen/android/local.properties
src-tauri/gen/android/keystore.properties
*.jks
*.keystore
*.password
